<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Filter by state or name" id="filterText" 
        aria-label="Filter" aria-describedby="basic-addon2" #filterText (keyup)="filterList(filterText.value)">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="filterText.value=''">x</button>
    </div>
  </div>
<table class="table table-striped table-hover">
    <thead>
        <th>Station ID</th>
        <th><app-sort-button 
            text="Name"
            sortField="name"
            (doSort)="sortList($event)"></app-sort-button></th>
        <th class="sortable">
            <app-sort-button 
            text="State"
            sortField="state"
            (doSort)="sortList($event)"></app-sort-button>
        </th>
        <th>Type</th>
        <th class="sortable"><app-sort-button 
            text="Latitude"
            sortField="lat"
            (doSort)="sortList($event)"></app-sort-button></th>
        <th class="sortable"><app-sort-button 
            text="Longitude"
            sortField="lng"
            (doSort)="sortList($event)"></app-sort-button></th>
        <th class="sortable">Reference Station</th>
    </thead>
    <tbody>
        <tr *ngFor="let station of filteredList" (click)="setSelection(station)">
            <td>{{ station.id}}</td>
                    <td>{{ station.name }}</td>
                    <td>{{ station.state}}</td>
                    <td>{{ station.type === 'R' ? 'Reference' : 'Subordinate' }}</td>
                    <td>{{ station.lat }}</td>
                    <td>{{ station.lng }}</td>
                    <td>{{ station.reference_id.length === 0 ? station.id : station.reference_id }}</td>
        </tr>    
    </tbody>
</table>
